
@{
    ViewBag.Title = "Unregistered Email";
}

<div>
    <h2>@ViewBag.Title.</h2>
    <p>User with such email is unregistered</p>
    <p>
        @Html.ActionLink("Register as a new user", "Register")
    </p>
</div>
