@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    34B Kniazia Volodymyra Velykoho St.,<br />
    Dnipro, 49000, Ukraine<br />
    <abbr title="Phone">P:</abbr>
    +380 95-548-42-08
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tasksmanagment.site@gmail.com">tasksmanagment.site@gmail.com</a><br />
</address>