@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron on-all-width">
    <h1>DO YOU WANT TO CREATE PROJECT IN A TEAM?</h1>
    <br />
    <p class="lead">Тогда Вам может это понравится. Бесплатная платформа для реализации Ваших идей. Находите людей по интересам или приглашайте
</div>

<div class="second-container">
    <h3>РАЗДЕЛЯЙ, НАЗНАЧАЙ, ВЫПОЛНЯЙ</h3>
    <br />
    <p>
        Хороший программный продукт должен вмещать в себе четкую, понятную бизнес-логику, максимальное удобство для пользователя. Согласитесь,
что одному человеку будет тяжело в одиночку реализовать действительно хороший программный продукт. Как же решить такую проблему?
Имея команду из определенного количества единомышленноков вы можете распределить задачи между ними, выставить приоритеты, назначить
сроки, и Ваш проект начнет делать целая команда программистов.
    </p>
</div>

<div class="second-container other-container">
    <h3>У МЕНЯ НЕТ ИДЕИ, Я ХОЧУ ПОМОЧЬ</h3>
    <br />
    <p>
        Если у Вас нет идеи, то не стоит отчаеватся. Вы можете поискать на сайте проекты других людей. Когда вы найдете то, что Вам интересно,
то можете попросить админа группы пригласить Вас. Теперь Вы являетесь частью команды, и можете помогать другим.
    </p>
</div>
