
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Members</h3>
<hr />
<p>Add new member to a group <strong></strong></p>
<form action="/" method="post">
    <div class="row">
        <div class="col-md-8">
            <input type="text" placeholder="Search for a user" class="form-control" />
        </div>
        <div class="col-md-2">
            <select class="form-control"></select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary form-control" type="submit">Add User</button>
        </div>
    </div>
</form>


