@model Services.Models.GroupViewModel

<li>
    <div class="title">
        <a asp-controller="Task" asp-action="Get" asp-route-id="@Model.Id">@Model.Title</a>
    </div>
    <div class="description">
        <p>@Model.Description</p>
    </div>
    <div class="controls">

    </div>
</li>