@model Services.Models.MemberViewModel

<li class="group-row">

    <div class="controls">
            @Html.Hidden("", Model.UserId, new { @class="user-id-js"})
            <button class="btn btn-default remove-member">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
    </div>
    <div class="title">
        <p>
            @Model.FirstName @Model.LastName
            <span><strong> as @Model.Role</strong></span>
        </p>
    </div>

</li>


